body{
    margin:0;
    font-family:'Segoe UI',sans-serif;
    background:#eef2f7;
}
.home-container{
    width:100%;
    display:flex;
    justify-content:center;
    padding:35px 0;
}

.feed{
    width:650px;
    margin-left:300px;

}
.post-card{
    background:#fff;
    border-radius:18px;
    margin-bottom:30px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.3s;
}

.post-card:hover{
    transform:translateY(-4px);
}
.post-header{
    padding:20px;
}
.user-info{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:15px;
}
.avatar{
    width:60px;
    height:60px;
    border-radius:50%;
    overflow:hidden;
    background:#1877f2;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
    font-weight:bold;
    flex-shrink:0;
}
.profile-img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.user-info h3{
    margin:0;
    font-size:20px;
    font-weight:700;
    color:#222;
}
.post-title{
    margin:0;
    font-size:25px;
    font-weight:bold;
    color:#111;
}
.post-header p{
    margin-top:8px;
    color:#666;
    font-size:16px;
}
.post-image{
    width:100%;
    max-height:550px;
    object-fit:cover;
    border-radius:10px;
}
.post-video{
    width:100%;
}

.post-audio{
    width:95%;
    margin:20px auto;
    display:block;
}
.action-bar{
    display:flex;
    gap:12px;
    padding:18px;
}
.like-btn,
.edit-btn,
.delete-btn{
    border:none;
    color:white;
    padding:10px 22px;
    border-radius:30px;
    cursor:pointer;
    font-size:15px;
    transition:.3s;
}
.like-btn{
    background:#ff3366;
}

.like-btn:hover{
    background:#ff1744;
}
.edit-btn{
    background:#1877f2;
}

.edit-btn:hover{
    background:#1565c0;
}
.delete-btn{
    background:#444;
}

.delete-btn:hover{
    background:#111;
}
.likes{
    padding:0 20px;
    font-size:17px;
    font-weight:600;
}
.comment-box{
    background:#f5f6f8;
    padding:12px;
    border-radius:12px;
    margin-bottom:10px;
}
.comment-area{
    display:flex;
    gap:10px;
    padding:20px;
}
.comment-input{
    flex:1;
    padding:13px;
    border-radius:25px;
    border:1px solid #ddd;
    outline:none;
    font-size:15px;
}
.comment-btn{
    border:none;
    background:#1877f2;
    color:white;
    padding:13px 25px;
    border-radius:25px;
    cursor:pointer;
}

.comment-btn:hover{
    background:#1565c0;
}
.show-more-btn{
    background:none;
    border:none;
    color:#1877f2;
    cursor:pointer;
    margin:10px 20px;
    font-weight:bold;
}