body{
    margin:0;
    font-family:Segoe UI,sans-serif;
    background:#f5f7fb;
}
.home-container{
    display:flex;
    justify-content:center;
    padding:30px 20px;
}

.feed{
    width:700px;
}

/* POST */

.post{
    background: #fff;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* HEADER */

.post-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px;
}

.user{
    display:flex;
    align-items:center;
    gap:15px;
}

.profile{
    width:55px;
    height:55px;
    border-radius:50%;
    overflow:hidden;
    background:#1877f2;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:22px;
    font-weight:bold;
    object-fit:cover;
}

.user h3{
    margin:0;
    font-size:18px;
}

.user span{
    font-size:13px;
    color:#666;
}

/* TITLE */

.post h2{
    margin:10px 0;
    font-size:24px;
    color:#222;
}

.post p{
    color:#555;
    line-height:1.6;
}

/* MEDIA */

.media{
    width:100%;
    border-radius:12px;
    margin-top:15px;
}
.post-image{
    width:100%;
    max-height:500px;
    object-fit:cover;
    border-radius:12px;
}

.audio{
    width:100%;
    margin-top:15px;
}

/* ACTIONS */

.actions{
    display:flex;
    gap:10px;
    margin:18px 0;
}

.actions button{
    border:none;
    background:#1877f2;
    color:white;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
    font-size:14px;
    transition:.3s;
}

.actions button:hover{
    opacity:.9;
}

.actions button:first-child{
    background:#ff3b5c;
}

.actions button:last-child{
    background:#444;
}

/* COMMENTS */

.comments{
    margin-top:10px;
}

.comments p{
    background:#f3f4f6;
    padding:10px 14px;
    border-radius:8px;
    margin-bottom:10px;
}

.comments button{
    border:none;
    background:none;
    color:#1877f2;
    cursor:pointer;
    padding:0;
    font-size:14px;
}

/* COMMENT BOX */

.comment-input-area{
    display:flex;
    gap:10px;
    margin-top:18px;
}

.comment-input-area input{
    flex:1;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    outline:none;
}

.comment-input-area button{
    border:none;
    background:#1877f2;
    color:white;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
}

hr{
    margin-top:25px;
    border:none;
    border-top:1px solid #ddd;
}